@model Web.Areas.StockAdministration.Models.Product.ProductOutputModel
@using Microsoft.Web.Mvc

@section page_title{
Stock Item : Create
}
@section breadcrumbs{
    @*@Url.HomeLink("Outpost Administration") *@/ @(Html.ActionLink<ProductController>(act => act.Overview(null,1), "Products Overview", StockAdministrationAreaRegistration.DEFAULT_ROUTE))
> Create District
}
@section master_content{
    @{Html.BeginForm<ProductController>(r => r.Create());}
    <form class="chosen-form">
    <fieldset class="fieldsCollection ">
        @{
            Html.RenderPartial("Input", Model);     
        }
    </fieldset>
    @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<ProductController>(it => it.Overview(null,1)))">
        Cancel</a>
        </form>
    @{Html.EndForm();}
}
@section scripts{


}
