@using Web.Areas.OutpostManagement.Models.MobilePhone

@model List<MobilePhoneModel>
           
 <div id="contacts-overview">          

    </div>

@section scripts{
    <script type="text/javascript">

     $(function () {
            $(".delete-user-form").submit(function () {
                return confirm('Are you sure that you want to delete this Outpost?');
            };

        });
     </script>

});