@model Web.Areas.OutpostManagement.Models.Region.RegionOutputModel
@using Microsoft.Web.Mvc
@section page_title{
Region : Create
}
@section breadcrumbs{
    @Url.HomeLink("Dashboard") / @(Html.ActionLink<RegionController>(act => act.Overview(), "Regions Overview", OutpostManagementAreaRegistration.DEFAULT_ROUTE))
> Create Region
}
@section master_content{
    @{Html.BeginForm<RegionController>(r => r.Create());}
    <fieldset class="fieldsCollection ">
        @{
            Html.RenderPartial("Input", Model);     
        }
    </fieldset>
    @Html.SubmitButton("submit-form", "Save") <span>or </span><a href="@(Html.BuildUrlFromExpression<RegionController>(it => it.Overview()))">
        Cancel</a>
    @{Html.EndForm();}
}
