@using Web.Areas.OutpostManagement.Models.StockLevel

@model List<OutpostStockLevelModel>
          
 <div id="stocklevel-overview">          

        <table id="ProductsSelection">
            <thead>
                <tr>
                    <th  class="sort-alpha">
                        OutpostId
                    </th>
                    <th  class="sort-alpha">
                        ProductGroup Id
                    </th>
                   <th  class="sort-alpha">
                        Product Name
                    </th>
                     <th>
                        SMS Reference Code
                   </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var itemNo = 0;
                }
                @foreach (var product in Model)
                {
                    var _class = (itemNo++ % 2 == 0) ? "odd" : "even";
       
                    <tr>
                        <td>@product.OutpostId
                        </td>
                        <td>@product.ProdGroupId
                        </td>
                        <td>@product.ProductName
                        </td>
                        <td>@product.ProdSmsRef
                        </td>
                    </tr> 
                }
            </tbody>
        </table>
    </div>



@section scripts{
    <script type="text/javascript">

        $(function () {

            // Add onclick handler to checkbox w/id checkme
            $("input[type='checkbox']").click(function () {
                var produsctId = $(this).attr('name');
                debugger;
                
                // If checked
                if ($(this).is(":checked")) {
                }
                else {
                }

            });
        });

    </script>
}

