@model Web.Areas.OutpostManagement.Models.MobilePhone.MobilePhoneModel

 
@{ var id = new Guid();}
<fieldset id="fieldsetInformation">
    <legend>Contact Details</legend>

 <table>
     <thead>
         <th>
            <label for="Method"> Contact Method </label>
         </th>
        <th>
             Mobile Number / E-mail
        </th>
        <th>
            Actions
        </th>
    </thead>
    <tr>
        <td>
            @Html.DropDownList("TipContact", new SelectList(new[] { "Mobile Number" }), "E-mail")
       </td>
        <td>
            @Html.TextBoxFor(m => m.ContactDetail, new { maxlength = 100 })
       </td>
    </tr>
 
 </table>            
 
</fieldset>

