@model Web.Areas.OutpostManagement.Models.Outpost.MobilePhoneModel

 
@{ var id = new Guid();}
<fieldset id="fieldsetInformation">
    <legend>Contact Details</legend>

 <table>
     <thead>
         <th>
            <label for="Methood"> Contact Method<text class="required-text">*</text> </label>
         </th>
        <th>
             Mobile Number / E-mail
        </th>
        <th>
            Actions
        </th>
    </thead>
    <tr>
        <td>
            @Html.TextBoxFor(m => m.MobileNumber, new { maxlength = 250 })
       </td>
        <td>
            @Html.DropDownList("TipContact", new SelectList(new[] { "Mobile Number" }), "E-mail")
       </td>
    </tr>
 
 </table>            
 
</fieldset>

