@import 'color-scheme.scss';
@import 'global-values.scss';

.x-add-button-gradient {
	box-shadow: 2px 0px 2px 0px #d1d0d0;
}

.x-add-navigation-gradient {
	@include background-image(linear-gradient(#207cca 0%,#7193b2 0%,#426076 94%,#3b5264 96%,#3b5264 98%));
}

#SubNavigation, #SideBar {
	background-color: $grey-background-color;
}

#SubNavigation {
	border-bottom: 1px solid #aeaeae;
}

#SideBar {
	box-shadow: inset 3px 0px 3px 0px #bbbbbb;
}

#TopContainer {
	border: 1px solid #b8b9b9;
}

.x-username-label {
	font-family: $global-font-family;
	font-weight:$font_weight-normal;
	font-size: $font_size-large;
}

.x-userMenu-label {
	font-family: $global2-font-family;
	font-weight: $font_weight-normal;
	font-size: $font_size-normal;
	color: $black-font-color;
	text-decoration: none;
}

.x-title-label {
	font-family: $global-font-family;
	font-weight: $font_weight-normal;
	font-size: $font_size-largest;
	color: $black-font-color;
}

$relative-image-path-for-uis: true; // defaults to "../images/" when true