// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file

$include-default: true;

@import 'color-scheme.scss';
@import 'general-css.scss';
@import 'global-values.scss';
@import 'compass';
@import 'ext4/snapshot/all';
@import "compass/css3/gradient";

//GRID COMPONENT STYLES
$grid-cell-font: 1px $global-font-family;
//$grid-cell-inner-padding:
$grid-cell-with-col-lines-border-color: #b3b3b3;
$grid-grouped-header-background-color: #bcc1c4;
$grid-grouped-header-border-color: #b3b3b3;
$grid-grouped-header-border-style: solid;
$grid-grouped-header-border-width: 0 1px;
$grid-grouped-title-color: #666666;
$grid-grouped-title-font: 1px $global-font-family;
$grid-header-background-color: #bcc1c4;
$grid-header-background-gradient: #bcc1c4;
$grid-header-color: #FFFFFF;
$grid-header-over-background-color: #bcc1c4;
$grid-header-over-background-gradient: #bcc1c4;
$grid-header-over-border-color: #b3b3b3;
//$grid-header-padding:
//$grid-header-trigger-width:
$grid-row-body-font: 11px $global-font-family;
//$grid-row-body-padding:
$grid-row-cell-alt-background: #eff2f5;
$grid-row-cell-border-color: #b3b3b3;
$grid-row-cell-border-style: solid;
$grid-row-cell-border-width: 0 1px 0 0;
$grid-row-cell-color: #666666;
$grid-row-cell-focus-background-color: #e7edf4;
$grid-row-cell-focus-border-color: #b3b3b3;
$grid-row-cell-font: 11px $global-font-family;
$grid-row-cell-over-border-color: #b3b3b3;
$grid-row-cell-selected-background-color: #e7edf4;
$grid-row-cell-selected-border-color: #b3b3b3;
$grid-row-cell-selected-border-style: solid;
//$grid-row-editor-background-color:
$grid-row-editor-border: 1px solid;
$grid-row-editor-border-color: #b3b3b3;
$grid-row-editor-font: 11px $global-font-family;
//$grid-row-padding:
$grid-row-wrap-border-color: #b3b3b3;
$grid-row-wrap-border-style: solid;
$grid-row-wrap-border-width: 1px;

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true