@model Web.Areas.OutpostManagement.Models.Country.CountryModel

 <div class="row">
      @Html.ValidationSummary()

     @Html.HiddenFor(m => m.Id)

 </div>          

    @{
        Html.RenderPartial("CountryInformation", Model);
    }

