@model Web.Models.Home.IndexModel
@section page_title{
    Snapshot Application
}

@section title_bar{
}
@section master_content{

}

@section master_actions{
<ul>
    <li>
        @(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.CountryController>(it => it.Overview(), "Countries", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </li>
    <li>
        @(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.RegionController>(it => it.Overview(null), "Region", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </li>
    <li>
        @(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.DistrictController>(it => it.Overview(null,null), "District", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </li>
    <li>
        @(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.OutpostController>(it => it.Overview(), "Outposts", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </li>
</ul>
}
@section scripts{

}
