@model Web.Models.Home.IndexModel
@section page_title{
    Dashboard
}
@section menu{
    
        <div class="grid_16">
            @Html.Partial("Menu")
        </div>
}
@section title_bar{
            <h4 class="activities_title">Activities</h4>
            <h4 class="upcoming_title">Upcoming</h4>
}
@section master_content{

<h1>Project start</h1>

<div class="row" >  @(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.RegionController>(call => call.Overview(), "Region", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))</div>
}

@section master_actions{
}
@section scripts{

}
