<ul>
    <li>
        @(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.RegionController>(it => it.Overview(Guid.Empty), "Region", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </li>
    <li>
        @(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.DistrictController>(it => it.Overview(null,null), "District", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </li>
    <li>
        @(Html.ActionLink<Web.Areas.OutpostManagement.Controllers.OutpostController>(it => it.Overview(null, null, null), "Outposts", Web.Areas.OutpostManagement.OutpostManagementAreaRegistration.DEFAULT_ROUTE))
    </li>
</ul>