<ul>
    <li>
       @(Html.ActionLink<Web.Areas.StockAdministration.Controllers.ProductGroupController>(it => it.Overview(), "Product Administration", Web.Areas.StockAdministration.StockAdministrationAreaRegistration.DEFAULT_ROUTE))
       </li>
    <li>
    @(Html.ActionLink<Web.Areas.StockAdministration.Controllers.OutpostStockLevelController>(it => it.Overview(), "Outpost Product Level", Web.Areas.StockAdministration.StockAdministrationAreaRegistration.DEFAULT_ROUTE))
      
    </li>
    <li>
       Product Request
    </li>
    
</ul>