<ul>
    <li>
       @(Html.ActionLink<Web.Areas.StockAdministration.Controllers.StockItemController>(it=>it.Overview(),"Stock Administration",Web.Areas.StockAdministration.StockAdministrationAreaRegistration.DEFAULT_ROUTE))
    </li>
    <li>
      Outpost Stock Level
    </li>
    <li>
       Stock Request
    </li>
    
</ul>