@model Web.Areas.Employees.Models.Employee.EmployeeModel

<fieldset>
    <legend>Address Information</legend>
    <div class="row of-3">
        <div class="column">
            <label for="Municipality">
                City</label>
            @Html.TextBoxFor(m => m.AddressInformation.Municipality, new { maxlength = 255, autofocus = "autofocus", placeholder = "City" })
        </div>        
        <div class="column">
            <label for="County">
                County</label>
            @Html.TextBoxFor(m => m.AddressInformation.County, new { maxlength = 255, placeholder = "County" })
        </div>
        <div class="column">
            <label for="Country">
                Country</label>
            @Html.TextBoxFor(m => m.AddressInformation.Country, new { maxlength = 255, placeholder = "Country" })
        </div>
    </div>
    <div class="row of-2">
        <div class="column">
            <label for="Address">
                Address</label>
            @Html.TextBoxFor(m => m.AddressInformation.Address, new { maxlength = 255, placeholder = "Address" })
        </div>
    </div>
</fieldset>
