@section page_title{
Employee New
}
@section title_bar{
    <h4>
        Add a new employee</h4>
}
@section master_content{
    <form method="post">
    <div class="row">
        <label for="EmployeeName">
            Employee Name:</label>
        <input type="text" name="EmployeeName" placeholder="Enter the full name" />
    </div>
    <div class="row">
        <fieldset>
            <legend>Contact Information </legend>
            <div class="row">
                <div class="column">
                    <label for="SkypeId">
                        Skype Id:</label>
                    <input type="text" name="SkypeId" />
                </div>
                <div class="column">
                    <label for="YahooMessengerId">
                        Yahoo Messenger Id:</label>
                    <input type='text' name="YahooMessengerId" />
                </div>
            </div>
        </fieldset>
    </div>
    <div class="row">
        <fieldset>
            <legend>Address Information </legend>
            <div class="row">
                <div class="column">
                    <label for="Municipality">
                        Municipality :</label>
                    <input type="text" name="Municipality" />
                </div>
                <div class="column">
                    <label for="County">
                        County :</label>
                    <input type='text' name="County" />
                </div>
            </div>
        </fieldset>
    </div>
    @{
        Html.RenderPartial("FormButtons");
    }
    </form>
}
@section master_actions{
    <h3>
        Organigram</h3>
}
@section scripts{
   
}
