@{
    ViewBag.Title = "Home Page";
}
@section title_bar{
<h4 class="on-boarding_employee_title">Joshua Calvert</h4>
           }
@section master_content{
<ul class="on-boarding_task_group">
    <h5 class="on-boarding_task_group_title">Pre Arrival Tasks</h5>
    <li>
        <span class="on-boarding_check_mark"><input type="checkbox" name="task['prearival'][0]" value="false" /></span>
        <span class="on-barding_task_title">Send offer letter</span>
        <span class="on-boarding_task_assigned">assigned to <a class="on-boarding_task_assigned_to">Liana Precup</a></span>
        <span class="on-boarding_task_description">Check this if you've sent an offer letter to the employee</span>
    </li>
    <li>
        <span class="on-boarding_check_mark"><input type="checkbox" name="task['prearival'][1]" value="false" /></span>
        <span class="on-barding_task_title">Get employee acceptance letter</span>
        <span class="on-boarding_task_assigned">assigned to <a class="on-boarding_task_assigned_to">Liana Precup</a></span>
        <span class="on-boarding_task_description">Check this if you've sent an offer letter to the employee</span>
        <span class="on-boarding_task_due_date">5 days before</span>
    </li>
</ul>
<ul class="on-boarding_task_group">
    <h5 class="on-boarding_task_group_title">First Week</h5>
    <li>
        <span class="on-boarding_check_mark"><input type="checkbox" name="task['firstweek'][0]" value="false" /></span>
        <span class="on-barding_task_title">Facilities and office tour</span>
        <span class="on-boarding_task_assigned">assigned to <a class="on-boarding_task_assigned_to">Liana Precup</a></span>
        <span class="on-boarding_task_description">The employee is given a tour of the facilities</span>
    </li>
</ul>
}
@section master_actions{
<h3>Organigram</h3>
}
@section scripts{
  }
