<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="EvozonErm" connectionString="Data Source=.\sqlexpress;Initial Catalog=StockManager;Integrated Security=True;Pooling=False" />
        <add name="MySqlDbConnection" connectionString="Server=127.0.01;Database=evozonerm_test;Uid=dev;Pwd=evo123" />
    </connectionStrings>
</configuration>