header h1
{
    height: 60px;
}
/* DATATABLES */
.dataTables_info, .dataTables_paginate, .dataTables_length, .dataTables_filter
{
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 35.5%;
    padding-bottom: 10px;
}

.dataTables_length select
{
    width: 80px;
}

.dataTables_filter
{
    float: right;
    text-align: right;
}

.dataTables_filter input
{
    font-size: 15px !important;
}
.dataTables_length select
{
    font-size: 14px !important;
}
.dataTables_filter input
{
    width: 210px !important;
}
.dataTables_info
{
    width: 54.25%; /* grid 8*/
}
.dataTables_paginate
{
    width: 4.25%; /*grid 2*/
}
.dataTables_paginate .paginate_button
{
    padding: 2px 4px 2px 4px;
    cursor: pointer;
}
.dataTables_paginate .paginate_active
{
    padding: 2px 4px 2px 4px;
    font-weight: bold;
    color: orange;
}
.dataTables_wrapper table
{
    clear: both;
}

/* END DATATABLES */

/* LOGIN SCREEN */
div.login
{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 6px #999;
    -moz-box-shadow: 0 0 6px #999;
    -webkit-box-shadow: 0 0 6px #999;
    background: whiteSmoke;
    padding: 25px 28px;
    margin: 12% 39% 10px;
}

div.login .editor-field input
{
    width: 70%;
}
div.current_user
{
    text-align: right;
}

/* END LOGIN SCREEN */

.container_16 div.employees, .container_16 div.on-boarding, .container_16 div.off-boarding
{
    display: inline;
    float: left;
    margin-left: 0%;
    margin-right: 0.5%;
    width: 15%;
}

.container_16 div.configuration
{
    display: inline;
    float: left;
    margin-left: 0%;
    margin-right: 0%;
    width: 40%;
}

div.employees ul, div.on-boarding ul, div.off-boarding ul, div.configuration ul
{
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

div.configuration ul
{
    width: 33%;
}

div.employees h1, div.on-boarding h1, div.off-boarding h1, div.configuration h1
{
    padding-left: 32px;
    background: url('../../shared/img/hr/employees.png') no-repeat 0px 3px;
}
div.on-boarding h1
{
    background-image: url('../../shared/img/hr/on-boarding.png');
}
div.off-boarding h1
{
    background-image: url('../../shared/img/hr/on-boarding.png');
}

div.configuration h1
{
    background-image: url('../../shared/img/hr/configuration.png');
}

.error, .alert, .notice, .success, .info, .title_bar
{
    padding: 0.8em;
    margin-bottom: 1em;
}

.error, .alert
{
    background: #fbe3e4;
    color: #8a1f11;
    border-color: #fbc2c4;
}
.notice
{
    background: #fff6bf;
    color: #514721;
    border-color: #ffd324;
}
.success
{
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880;
}
.info
{
    background: #d5edf8;
    color: #205791;
    border-color: #92cae4;
}
.error a, .alert a
{
    color: #8a1f11;
}
.notice a
{
    color: #514721;
}
.success a
{
    color: #264409;
}
.info a
{
    color: #205791;
}

a.cancel
{
    text-decoration: underline;
    color: red;
}

div.title_bar
{
    background: #D1E689;
    width: 98%;
    float: left;
    display: inline;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
div.title_bar h4
{
    padding: 0em;
    margin: 0em;
    font-weight: bold;
    float: left;
}
div.title_bar .activities_title
{
    width: 73%;
}
div.title_bar .activities_title, div.title_bar .upcoming_title
{
    float: left;
    margin-top: 0em;
    margin-bottom: 0em;
}
.activities_date
{
    width: 210px;
    border-bottom: 1px solid #000;
    display: block;
}
span.on-boarding
{
    padding: 0.5em;
    background-color: #FFED60;
    font-weight: bolder;
    font-size: 110%;
}
span.employees
{
    padding: 0.5em;
    background-color: #E39535;
    font-weight: bolder;
    font-size: 110%;
}
span.holiday
{
    padding: 0.5em;
    background-color: #82CAFA;
    font-weight: bolder;
    font-size: 110%;
}
span.expenseReport
{
    padding: 0.5em;
    background-color: #F9A7B0;
    font-weight: bolder;
    font-size: 110%;
}
ul.activities li
{
    margin-top: 1.7em;
    list-style: none;
}
ul.activities li a
{
    font-weight: normal;
    color: #34B0F7;
    text-decoration: underline;
}
ul.upcoming li
{
    list-style: none;
    margin: 0px;
}
ul.upcoming li h6
{
    background: url('../../shared/img/hr/calendar.png') no-repeat;
    padding-left: 32px;
    padding-bottom: 8px;
}
ul.upcoming table.calendar
{
    width: 60%;
    border: none;
}

ul.upcoming table.calendar th, ul.upcoming table.calendar td, .arrival-dates table.calendar th, .arrival-dates table.calendar td
{
    padding: 5px;
    background-color: #fff;
}

ul.upcoming table.calendar td.inactive, .arrival-dates table.calendar td.inactive
{
    background-color: #eee;
}

ul.upcoming table.calendar td.weekend, .arrival-dates table.calendar td.weekend
{
    background-color: #FFF7CC;
}
ul.upcoming table.calendar td.today, .arrival-dates table.calendar td.today
{
    background-color: #96E7FF;
}
ul.upcoming table.calendar td.has-events, .arrival-dates table.calendar td.has-events
{
    background-color: #D1E689;
}

.arrival-dates table.calendar td
{
    font-size: 250%;
    cursor: pointer;
}
.arrival-dates table.calendar td:hover
{
    color: Olive;
}

.arrival-dates .candidate-name
{
    font-weight: bold;
    font-size: 170%;
}

.arrival-dates .label
{
    display: inline-block;
    width: 110px;
}

.arrival-dates .value
{
    font-weight: bold;
}

.on-boarding
{
}

ul.on-boarding_task_group
{
    clear: both;
    width: 100%;
}
ul.on-boarding_task_group li
{
    list-style: none;
}

ul.on-boarding_task_group .on-boarding_task_group_title
{
    text-decoration: underline;
    font-size: 130%;
    font-weight: bold;
}
ul.on-boarding_task_group .on-boarding_check_mark, ul.on-boarding_task_group .on-barding_task_title, ul.on-boarding_task_group .on-boarding_task_assigned, ul.on-boarding_task_group .on-boarding_task_description ul.on-boarding_task_group .on-boarding_task_due_date
{
    float: left;
    display: inline;
}


ul.on-boarding_task_group .on-boarding_check_mark
{
    clear: left;
    margin-top: 0.2em;
}
ul.on-boarding_task_group .on-barding_task_title
{
    width: 70%;
    font-weight: bold;
    font-size: 120%;
}
ul.on-boarding_task_group .on-boarding_task_assigned
{
    float: right;
}

ul.on-boarding_task_group .on-boarding_task_description
{
    clear: both;
    width: 70%;
    color: #828282;
    float: left;
}

ul.on-boarding_task_group .on-boarding_task_due_date
{
    float: right;
    color: #828282;
}

/*form styles*/
fieldset
{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background: whiteSmoke;
}
label
{
    display: block;
}

form div.row
{
    clear: both;
    display: block;
    width: 100%;
    margin-bottom: 1.2em;
    overflow: auto;
}
form div.row div.column
{
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    width: 48%;
}

form div.of-3 div.column
{
    width: 30.75%;
}
input[type="text"], input[type="password"], select, textarea
{
    width: 98%;
    font-size: 12px;
    font-family: inherit;
   
    border: 0;
    outline: none;
  
    border: 1px solid #999999;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

input.money
{
    text-align: right;
}
input.date
{
    background: #fff url("../../shared/img/hr/calendar.png") no-repeat scroll center right;
    background-position: 10px 50%;
    padding-left: 35px;
    width: 90%;
}

select
{
    font-size: 12px;
    
}
input::-webkit-input-placeholder, input::input-placeholder, input::-moz-input-placeholder
{
    font-style: italic;
}

table thead tr th
{
    background-color: #FFF399;
}
table tbody tr td
{
    background-color: #FFFCD4;
}
/*Validation summary*/
.validation-summary-errors
{
    color: Red;
    font-size: 175%;
}
.validation-summary-errors ul
{
}
.validation-summary-errors ul li
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.employee-overview
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.employee-overview .photo
{
    display: block;
    float: left;
    width: 200px;
}
.employee-overview .photo img
{
    padding: 10px 20px 10px 20px;
    max-width: 180px;
    max-height: 210px;
}
.employee-overview .links
{
    display: block;
    float: left;
    width: 70%;
    margin-left: 160px;
}
.employee-overview .links .column
{
    display: inline-block;
    float: left;
    width: 35%;
    max-width: 240px;
    min-width: 200px;
}
.employee-overview .links a
{
    display: block;
}



.discussion
{
    margin-left: 100px;
}

.discussion .discussion-time
{
    display: block;
    font-size: large;
    font-style: normal;
    margin-left: 20px;
}


/*BEGIN Holiday Requests*/

div#legendContainer
{
    overflow : hidden;    
}

div#holidayLegend
{
    float:right;
    width:20%;
}

td.absenceColor
{
    width : 30%;
    padding : 2%;    
}

td.absenceColor div
{
    width : 100%;
}

div#holidayColor-CO
{    
    background-color : Aqua        
}

div#holidayColor-CR
{    
    background-color : Fuchsia        
}

div#holidayColor-CM
{    
    background-color : Green        
}

div#holidayColor-CFS
{    
    background-color : Orange        
}

div#holidayColor-SP
{    
    background-color : Lime        
}
div#holidayColor-AN
{    
    background-color : Silver        
}

table#holidayTable div.holidayDate
{
    text-align :center;
    cursor : pointer;    
    
}


div#holidayLegend table,
table#holidayTable
{
    border : none;
}

table#holidayTable td.employeeName
{
    font-size : large;  
}

table#holidayTable th.departmentName
{
    font-size : x-large;   
 
}
table#holidayTable td.employeeName
{
       background-color:#fff; 
}

/*END Holiday Requests*/



/* Forms (Certificate, Contract, Addendum) */

.certificate-input {
    font-weight: bold;
    border-bottom: 1px black dotted;
}

.certificate-signature {
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.certificate-title {
    text-align: center;
    display: block;
}

.date-string {
    display: inline-block;
    text-align: center;
    width: 150px;
}

.certificate-company-logo {
    display: none;
}


.certificate-section-title {
    display: block;
    font-weight: bold;
    padding: 5px;
}


.certificate-section {
    padding-bottom: 10px;
}


.bold {
    font-weight: bold;
    display: inline;
}


.left { 
    float: left;
}

.right {
    float: right;
}

.entry-form input[type="text"],.entry-form  input[type="password"],.entry-form  textarea
{
    display: inline;
    width: 50px;
    font-size: 14px;
    font-family: inherit;
    line-height: 0.8em;
    border: 0;
    outline: none;
    padding: 6px;
    border: 1px solid #999999;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

.entry-form input.date
{ 
    width: 100px;
    padding-left: 50px;
}
 
.entry-form select
{
    font-size: 14px;
    line-height: 1.3em;
    width: 90%;
}

.entry-form .large {
    width: 600px !important;
    margin:5px 0px 5px 0px;
}
.entry-form .medium {
    width: 200px !important;
    margin:5px 0px 5px 0px;
}

.entry-form .small {
    width: 30px !important;
    margin:5px 0px 5px 0px;
}

.entry-form .medium-large {
    width: 400px !important;
    margin:5px 0px 5px 0px;
}



/* END Input Forms */
.pfa-header
{
    font-size:medium;
    
    font-weight:bold;
}

.pfa-section-title 
{
    text-transform:uppercase;
    font-weight:bold;
}
.pfa-section
{
    padding-bottom: 10px;
}
.pfa-important-text
{
    font-weight:bold;
}

.pfa-employee-signature
{
    text-transform:uppercase;
    float:left;
}

.pfa-director-signature
{
    text-align:right;
    
} 
.required-text
{ color:Red;
}
/* unauthorized access */

div.unauthorized 
{
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    box-shadow: 0 0 6px #999;
    -moz-box-shadow: 0 0 6px #999;
    -webkit-box-shadow: 0 0 6px #999;
    background: whiteSmoke;
    padding: 25px 28px;
    margin-top: 12% ;
    margin-left: 30%;
    width: 30%; /* grid 8*/
}
}
/* end unauthorized access */