@using Web.Areas.OutpostManagement.Models.Contact

@model ContactModel

 
@{ var id = new Guid();}
<fieldset id="fieldsetInformation">
    <legend>Contact Details</legend>

 <table>
     <thead>
         <th>
            <label for="Method"> Contact Method </label>
         </th>
        <th>
             Mobile Number / E-mail
        </th>
@*        <th>
            Actions
        </th>
*@    </thead>
    <tr>
        <td>
            @Html.DropDownListFor(m => m.ContactType, new SelectList(new[] { "Mobile Number" , "E-mail"}))
       </td>
        <td>
            @Html.TextBoxFor(m => m.ContactDetail, new { maxlength = 100 })
       </td>
@*        <td>
            @Html.CheckBoxFor(m => m.IsMainContact, new {})
       </td>
*@
    </tr>
 
 </table>            
    
</fieldset>

 @section scripts
 {
    <script type="text/javascript">

 
        $(function () {
            $(".searchable").dataTable({
                "sPaginationType": "full_numbers"
            });
        });
</script>
}
