@using Web.Areas.StockAdministration.Models.ProductGroup
@using Domain
@using Microsoft.Web.Mvc;


@model ProductGroupOverviewModel

@section page_title{
Product Groups: Overview
}

@section breadcrumbs
{
    @*@Url.HomeLink("Outpost Administration") > Regions*@
}

@section master_actions
{
    @{Html.RenderPartial("~/Views/Shared/_OutpostManagementActions.cshtml");}
    @{ Html.RenderPartial("~/Views/Shared/_StockAdministrationActions.cshtml");}
}

@section master_content
{
   @{Html.RenderPartial("~/Views/Shared/_StockAdministrationHeader.cshtml");}

  <div>
      @if (Model.Error != null)
    {
          <div class="error">
            @Model.Error
          </div>
    }
    </div>
    
      <table id="productGroup">
        <thead>
            <tr>
                <th>
                    <div class="page_header_buttons">
                        @(Html.ActionLink<ProductGroupController>(it => it.Create(), "Add new Product Group", StockAdministrationAreaRegistration.DEFAULT_ROUTE))
                    </div>
                </th>
            </tr>
        </thead>
    </table>


    @{Html.RenderPartial("OverviewProductGroup", Model.ProductGroups);}
}

@section scripts{
    <script type="text/javascript">

        $(function () {
            $(".delete-user-form").submit(function () {
                return confirm('Are you sure that you want to delete this Product Group?')
            });
        })


 
    </script>
}
