@using Web.Areas.StockAdministration.Models.ProductGroup
@using Domain
@using Microsoft.Web.Mvc;


@model ProductGroupOverviewModel

@section page_title{
Product Groups: Overview
}

@section breadcrumbs
{
    @*@Url.HomeLink("Outpost Administration") > Regions*@
}

@section master_actions
{
    @{Html.RenderPartial("~/Views/Shared/_OutpostManagementActions.cshtml");}
    @{ Html.RenderPartial("~/Views/Shared/_StockAdministrationActions.cshtml");}
}

@section master_content
{
   @{Html.RenderPartial("~/Views/Shared/_StockAdministrationHeader.cshtml");}

  <div>
      @if (Model.Error != null)
    {
          <div class="error">
            @Model.Error
          </div>
    }
    </div>
    <table align="right">
    <thead>
        <th></th>
        <th></th>
        <th></th>
                <th>
                    <input type="text" id="productGroupSearch" class="input" name="productGroupSearch" placeholder="Product Groups search" maxlength="50"
                        style="width: 200px; height: 30px; margin-left: 0px; top: 100px" />
                </th>
      </thead>
    </table>

      <table id="productGroup">
        <thead>
            <tr>
                <th>
                    <div class="page_header_buttons">
                        @(Html.ActionLink<ProductGroupController>(it => it.Create(), "Add new Product Group", StockAdministrationAreaRegistration.DEFAULT_ROUTE))
                    </div>
                </th>
            </tr>
        </thead>
    </table>


    @{Html.RenderPartial("OverviewProductGroup", Model.ProductGroups);}
}

@section scripts{
    <script type="text/javascript">
        var timeout;

        $(function () {
            $(".delete-user-form").submit(function () {
                return confirm('Are you sure that you want to delete this Product Group?')
            });

            $("input").keyup(function () {

                jQuery('#productGroupSearch').keyup(function (event) {
                    if (event.keyCode == 27) {
                        debugger;
                        resetSearch();
                    }
                });

                SearchProductGroupsOnFilterSelected();
            });
        })

        jQuery.expr[":"].containsNoCase = function (el, i, m) {
            var search = m[3];
            if (!search) return false;
            return eval("/" + search + "/i").test($(el).text());
        };

        function SearchProductGroupsOnFilterSelected() {
            //cancel the search if the user presses the ESC key
            jQuery('#productGroupSearch').keyup(function (event) {
                if (event.keyCode == 27) {
                    debugger;
                    resetSearch();
                }
            });

            // execute the search
            //jQuery('#productSearch').keyup(function () {
            // only search when there are 3 or more characters in the textbox
            if (jQuery('#productGroupSearch').val().length > 0) {
                // hide all rows
                jQuery('#productGroup-overview tr').hide();
                // show the header row
                jQuery('#productGroup-overview tr:first').show();
                // show the matching rows (using the containsNoCase from Rick Strahl)
                jQuery('#productGroup-overview tr .search:containsNoCase(\'' + jQuery('#productGroupSearch').val() + '\')').parent().show();
            }
            else if (jQuery('#productGroupSearch').val().length == 0) {
                //if the user removed all of the text, reset the search
                resetSearch();
            }

            //if there were no matching rows, tell the user
            if (jQuery('#productGroup-overview tr:visible').length == 1) {
                // remove the norecords row if it already exists
                jQuery('.norecords').remove();
                // add the norecords row
                jQuery('#productGroup-overview-overview').append('<tr class="norecords"><td colspan="5" class="Normal">No records were found</td></tr>');
            }
            // });
        }

        function resetSearch() {
            // clear the textbox
            jQuery('#productGroupSearch').val('');
            // show all table rows
            jQuery('#productGroup-overview tr').show();
            // remove any no records rows
            jQuery('.norecords').remove();
            // make sure we re-focus on the textbox for usability
            jQuery('#productGroup-overview').focus();
        }

 
    </script>
}
