@model Web.Areas.OutpostManagement.Models.Outpost.OutpostModel

 <div class="row">
      @Html.ValidationSummary()

     @Html.HiddenFor(m => m.Id)

 </div>          

    @{
        Html.RenderPartial("OutpostInformation", Model);
    }

