<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
      -->
  <!--this is for staging, must change to production when ready to deploy there-->
    <connectionStrings>
      <add name="DbConnection" 
        connectionString="Server=fce1a154-ba44-4658-ba93-a19400ada685.sqlserver.sequelizer.com;Database=dbfce1a154ba444658ba93a19400ada685;User ID=qzefalcaqutofmqa;Password=B7nNEnhvAGuCTbtRX4emrE84Es5wPXFFLttZkzVAWWUBhKpLCcUsyBR67rhnqSNK;MultipleActiveResultSets=true;" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
      <add name="Elmah.Sql"
        connectionString="Server=fce1a154-ba44-4658-ba93-a19400ada685.sqlserver.sequelizer.com;Database=dbfce1a154ba444658ba93a19400ada685;User ID=qzefalcaqutofmqa;Password=B7nNEnhvAGuCTbtRX4emrE84Es5wPXFFLttZkzVAWWUBhKpLCcUsyBR67rhnqSNK;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>